{% extends "layout.html" %}

{% block title %}
    chest exercises
{% endblock %}

{% block main %}

    <div class="exerciselist">
        <img id="elimg7" src="/static/abs/40.webp">
        <h1 id="exerciselist7">Captains's chair leg raise, code 40</h1>
        <img id="elimg8" src="/static/abs/41.jpg">
        <h1 id="exerciselist8">Machine crunch, code 41</h1>
        <img id="elimg9" src="/static/abs/42.webp">
        <h1 id="exerciselist9">Plank, code 42</h1>
        <img id="elimg10" src="/static/abs/43.jpg">
        <h1 id="exerciselist10">Russian twist, code 43</h1>
        <img id="elimg11" src="/static/abs/44.webp">
        <h1 id="exerciselist11">Hanging leg and hip raise, code 44</h1>
        <img id="elimg12" src="/static/abs/45.webp">
        <h1 id="exerciselist12">Bicycle crunch, code 45</h1>
        <img id="elimg13" src="/static/abs/46.webp">
        <h1 id="exerciselist13">Crunch, code 46</h1>
        <img id="elimg14" src="/static/abs/47.webp">
        <h1 id="exerciselist14">AB wheel rollout, code 47</h1>
        <img id="elimg15" src="/static/abs/48.webp">
        <h1 id="exerciselist15">Cable kneeling crunch, code 48</h1>

    </div>

    <footer>
        <p id="ca">images Copyright attribute</p>
        <p><a id="fa1" href="https://weighttraining.guide/">weighttraining.guide</a></p>
        <p><a id="fa2" href="https://fitnessvolt.com/">fitnessvolt.com</a></p>
    </footer>

</div>

{% endblock %}
