{% extends "layout.html" %}

{% block title %}
    chest exercises
{% endblock %}

{% block main %}

    <div class="exerciselist">
        <img id="elimg7" src="/static/back/22.jpg">
        <h1 id="exerciselist7">Bent over barbell row, code 22</h1>
        <img id="elimg8" src="/static/back/23.jpg">
        <h1 id="exerciselist8">Deadlift, code 23</h1>
        <img id="elimg9" src="/static/back/24.jpg">
        <h1 id="exerciselist9">Back extension, code 24</h1>
        <img id="elimg10" src="/static/back/25.webp">
        <h1 id="exerciselist10">Bent over one arm dumbell row, code 25</h1>
        <img id="elimg11" src="/static/back/26.jpg">
        <h1 id="exerciselist11">pull-up, code 26</h1>
        <img id="elimg12" src="/static/back/27.jpg">
        <h1 id="exerciselist12">Pull-over (Cable or Dumbell), code 27</h1>
        <img id="elimg13" src="/static/back/28.webp">
        <h1 id="exerciselist13">T-bar, code 28</h1>
        <img id="elimg14" src="/static/back/29.webp">
        <h1 id="exerciselist14">Seated cable row, code 29</h1>
        <img id="elimg15" src="/static/back/30.webp">
        <h1 id="exerciselist15">Lat pull down, code 30</h1>

    </div>

    <footer>
        <p id="ca">images Copyright attribute</p>
        <p><a id="fa1" href="https://weighttraining.guide/">weighttraining.guide</a></p>
        <p><a id="fa2" href="https://fitnessvolt.com/">fitnessvolt.com</a></p>
    </footer>

</div>

{% endblock %}
