{% extends "layout.html" %}

{% block title %}
    chest exercises
{% endblock %}

{% block main %}

    <div class="exerciselist">
        <img id="elimg7" src="/static/bicep/7.webp">
        <h1 id="exerciselist7">Barbell/EZ Bar curl, code 7</h1>
        <img id="elimg8" src="/static/bicep/8.png">
        <h1 id="exerciselist8">Incline dumbbell curl, code 8</h1>
        <img id="elimg9" src="/static/bicep/9.webp">
        <h1 id="exerciselist9">Cable curl, code 9</h1>
        <img id="elimg10" src="/static/bicep/10.webp">
        <h1 id="exerciselist10">Dumbbell hammer curl, code 10</h1>
        <img id="elimg11" src="/static/bicep/11.jpg">
        <h1 id="exerciselist11">Spider curl, code 11</h1>
        <img id="elimg12" src="/static/bicep/12.webp">
        <h1 id="exerciselist12">Dumbell concentration, code 12</h1>
        <img id="elimg13" src="/static/bicep/13.webp">
        <h1 id="exerciselist13">Preacher curl, code 13</h1>
        <img id="elimg14" src="/static/bicep/14.jpg">
        <h1 id="exerciselist14">Zottman curl, code 14</h1>
        <img id="elimg15" src="/static/bicep/15.jpg">
        <h1 id="exerciselist15">Overhead curl, code 15</h1>

    </div>

    <footer>
        <p id="ca">images Copyright attribute</p>
        <p><a id="fa1" href="https://weighttraining.guide/">weighttraining.guide</a></p>
        <p><a id="fa2" href="https://fitnessvolt.com/">fitnessvolt.com</a></p>
    </footer>

</div>

{% endblock %}
