{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div>
            <input autocomplete="off" autofocus name="username" placeholder="Username" type="text">
        </div>
        <div>
            <input name="password" placeholder="Password" type="password">
        </div>
        <div>
            <input name="new_password" placeholder="New Password" type="password">
        </div>
        <div>
            <input name="confirmation" placeholder="Confirm password" type="password">
        </div>
        <button type="submit">change password</button>
    </form>
{% endblock %}
