{% extends "layout.html" %}

{% block title %}
    chest exercises
{% endblock %}

{% block main %}

    <div class="exerciselist">
        <img id="elimg1" src="/static/chest/1.jpg">
        <h1 id="exerciselist1">Flat bench press, code 1</h1>
        <img id="elimg2" src="/static/chest/2.jpg">
        <h1 id="exerciselist2">Incline bench press, code 2</h1>
        <img id="elimg3" src="/static/chest/3.jpg">
        <h1 id="exerciselist3">Low cable cross-over, code 3</h1>
        <img id="elimg4" src="/static/chest/4.jpg">
        <h1 id="exerciselist4">high cable cross-over, code 4</h1>
        <img id="elimg5" src="/static/chest/5.jpg">
        <h1 id="exerciselist5">Fly machine, code 5</h1>
        <img id="elimg6" src="/static/chest/6.jpg">
        <h1 id="exerciselist6">push-up, code 6</h1>

    </div>

    <footer>
        <p id="ca">images Copyright attribute</p>
        <a id="fa1" href="https://www.freepik.com/free-photo/man-workingout-local-gym_20989285.htm#query=flat%20bench%20press&position=3&from_view=search&track=ais&uuid=16822249-af04-4ee0-a611-7177e00b577a">Image by fabrikasimf on Freepik</a>
        <a id="fa2" href="https://www.freepik.com/free-photo/lifting-strength-fitness-guy-man_1052337.htm#query=bench%20press&position=1&from_view=search&track=ais&uuid=d2a15f6a-c5ec-42b8-af69-43930718484f">Image by javi_indy on Freepik</a>
        <a id="fa3" href="https://www.freepik.com/free-photo/young-man-training-exercise-pushups_5477535.htm#query=pushup&position=8&from_view=search&track=sph&uuid=935cfc6e-6c26-47b5-aea9-fa1b69afc93e">Freepik</a>
    </footer>

</div>

{% endblock %}
