{% extends "layout.html" %}

{% block title %}
    chest exercises
{% endblock %}

{% block main %}

    <div class="exerciselist">
        <img id="elimg7" src="/static/leg/31.webp">
        <h1 id="exerciselist7">Barbell glute bridge, code 31</h1>
        <img id="elimg8" src="/static/leg/32.jpg">
        <h1 id="exerciselist8">Glute kickback, code 32</h1>
        <img id="elimg9" src="/static/leg/33.webp">
        <h1 id="exerciselist9">Lying leg curl, code 33</h1>
        <img id="elimg10" src="/static/leg/34.webp">
        <h1 id="exerciselist10">Leg press, code 34</h1>
        <img id="elimg11" src="/static/leg/35.webp">
        <h1 id="exerciselist11">Barbell Squat, code 35</h1>
        <img id="elimg12" src="/static/leg/36.webp">
        <h1 id="exerciselist12">Barbell Romanian Deadlift, code 36</h1>
        <img id="elimg13" src="/static/leg/37.jpg">
        <h1 id="exerciselist13">Hack squat, code 37</h1>
        <img id="elimg14" src="/static/leg/38.jpg">
        <h1 id="exerciselist14">Lunges, code 38</h1>
        <img id="elimg15" src="/static/leg/39.webp">
        <h1 id="exerciselist15">Leg extension, code 39</h1>

    </div>

    <footer>
        <p id="ca">images Copyright attribute</p>
        <p><a id="fa1" href="https://weighttraining.guide/">weighttraining.guide</a></p>
        <p><a id="fa2" href="https://fitnessvolt.com/">fitnessvolt.com</a></p>
    </footer>

</div>

{% endblock %}
