{% extends "layout.html" %}

{% block title %}
    chest exercises
{% endblock %}

{% block main %}

    <div class="exerciselist">
        <img id="elimg1" src="/static/tricep/16.webp">
        <h1 id="exerciselist1">Bench dip, code 16</h1>
        <img id="elimg2" src="/static/tricep/17.webp">
        <h1 id="exerciselist2">Tricep pushdown cable, code 17</h1>
        <img id="elimg3" src="/static/tricep/18.webp">
        <h1 id="exerciselist3">Cable tricep kickback, code 18</h1>
        <img id="elimg4" src="/static/tricep/19.png">
        <h1 id="exerciselist16">Standing cable overhead tricep extensions, code 19</h1>
        <img id="elimg5" src="/static/tricep/20.webp">
        <h1 id="exerciselist5">lying barbell tricep, code 20</h1>
        <img id="elimg6" src="/static/tricep/21.webp">
        <h1 id="exerciselist6">Tricep dip, code 21</h1>

    </div>


    <footer>
        <p id="ca">images Copyright attribute</p>
        <p><a id="fa1" href="https://weighttraining.guide/">weighttraining.guide</a></p>
        <p><a id="fa2" href="https://fitnessvolt.com/">fitnessvolt.com</a></p>

    </footer>

</div>

{% endblock %}
